.Background{
    background-image: url('https://www.rappler.com/tachyon/r3-assets/612F469A6EA84F6BAE882D2B94A4B421/img/52F494891D2C4F0E8A07782C13E0B7A2/plm-20200602.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* Additional background properties if needed */
  }
  